<html th:replace="~{admin/adminbase::layout(~{::section})}">
 	<head></head>
 	
 	<body>
 		<section>
 			<div class="container-fluid">
 				<div class="row">
 					<div class="card w-100">
 						<div class="card-header">
 							<div class="card-title">
 								List of Login Disabled Farmers 
 							</div>
 						</div>
 						
 						<div class="card-body">
 							<div class="table-responsive">
 								<table class="table table-bordered table-hover scrollbar-table" id="example">
 									<thead>
 										<tr class="text-center">
 											<th>Sr. No.</th>
 											<th>Name</th>
 											<th>Profile Picture</th>
 											<th>Contact No.</th>
 											<th>Email Address</th>
 											<th>Aadhar No</th>
 											<th>Address</th>
 											<th>Registration Date</th>
 											<!-- <th>Delete</th> -->
 											<th>Status</th>
 										</tr>
 									</thead>
 									<tbody>
 										<tr th:each="f, srno:${FList}">
 											<td class="text-center" th:text="${srno.index+1}">1.</td>
 											<td th:text="${f.name}">Manish Yadav</td>
 											<td class="text-center">
 												<img alt="Image Not Found..." class="profile-img" style="width: 45px;" th:if="${f.profilepic}" th:src="@{'/ProfilePic/' + ${f.profilepic}}">
 												<img alt="Image Not Found..." class="profile-img" style="width: 45px;" th:unless="${f.profilepic}" src="../img/user_img.jpg">
 											</td>
 											<td th:text="${f.contactno}" class="text-center">1234567890</td>
 											<td th:text="${f.email}">example@gmail.com</td>
 											<td th:text="${f.aadharno}">00000000</td>
 											<td th:text="${f.address}">This is a dummy text for enquiry purpose</td>
 											<td th:text="${f.regdate}" class="text-center">11/11/2024</td>
 											
 											
 											
 											<!-- <td class="text-center">
 												<a th:href="@{deleteformer(id=${f.id})}" class="text-decoration-none">
 													<button type="button" class="btn btn-danger rounded-0" onclick="return confirm('Are you sure want to delete?')">Delete</button>
 												</a>
 											</td>
 											 -->
 											<td>
 												<a th:href="@{formerstatus(id=${f.id})}" class="btn btn-danger rounded-0 px-4 py-2">Disabled</a>
 											</td>
 										</tr>
 									</tbody>
 								</table>
 							</div>
 						</div>
 					</div>
 				</div>
 			</div>
 			
 		</section>
 	</body>
</html>